body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ededed;
}

.nav-wrapper {
    background-color: #1E88E5;
}

.nav-content {
    min-height: 180px;
    background-color: #42A5F5;
}

#chat-content {
    display: none;
}

#rooms-container {
    height: 74.5vh;
    margin: 0px;
    overflow-y: scroll;
    padding: 0px;
    width: 100%;
    background-color: #fcfcfc;
}
#users-container {
    height: 74.5vh;
    margin: 0px;
    overflow-y: scroll;
    padding: 0px;
    width: 100%;
    background-color: #fcfcfc;
}

.modal-content h4 {
    margin-bottom: 24px;
}

#messages-container {
    height: 64vh;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title {
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    display: inline-block;
}

#tabs-container {
    padding-left: 0px;
    padding-right: 0px;
}

#top-row-container {
    height: 72px;
    background-color: #efefef;
}

.joined-text {
    color: #4CAF50;
}

.leave-text {
    color: #F44336;
}

#room-title-container {
    height: 72px;
    min-height: 72px;
    padding-left: 8px;
    padding-top: 8px;
    background-color: #efefef;
}

li.collection-item.avatar {
    margin-bottom: 10px;
}

/* set max height of users avatar img */
.collection-item.avatar {
    min-height: 68px !important;
}

#chat-card {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -160px;
}

#add-card {
    display: table;
    margin-top: 0px;
    width: 100%;
}

.add-btn-container {
    display: table-cell;
    width: 28%;
    height: 64px;
}

.add-btn {
    margin-left: 15px;
    margin-top: 12px;
}

.btn-title {
    width: 72%;
    vertical-align: middle;
    display: table-cell;
}

.tabs {
    height: 100%;
    min-height: 45px;
    background-color: #efefef;
    margin-right: 6px !important;
    line-height: 72px;
    height: 72px;
}

.tabs .tab {
    line-height: 72px;
    height: 72px;
}

.tabs .indicator {
    background-color: #FFC400;
}

.tabs a{
    color: #FFAB00 !important;
}

#room-title-container__title {
    font-size: 1.59rem;
}

.first-block {
    padding: 0px !important;
}

.no-btm-margin {
    margin-bottom: 0px !important;
}

.row-bubble {
    margin-bottom: 2px !important;
}

/* -------------------     Message Incoming Bubble    -------------------- */
.talk-bubble-incoming {
    margin-left: 5px;
    margin-bottom: 4px;
    display: inline-block; /* Must be in-line block to wrap_content */
    position: relative;
    max-width: 75%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #dfdfdf;
    /*    box-shadow: 0 0 6px #B2B2B2;*/
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: #dfdfdf transparent transparent transparent;
}

/* -------------------     Message Outgoing Bubble    -------------------- */
.talk-bubble-outgoing {
    margin-bottom: 4px;
    display: inline-block; /* Must be in-line block to wrap_content */
    position: relative;
    max-width: 75%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #E0F4D9;
    float: right;
    margin-right: 20px;
    /*    box-shadow: 0 0 6px #B2B2B2;*/
}

.tri-left.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-left.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -20px;
    left: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: #E0F4D9 transparent transparent transparent;
}

#upload-progress__container {
    display: none;
    margin: 0 auto;
}

#upload-progress__bar {
    float: left;
    margin-right: 16px;
}

#upload-progress__txt {
    padding-top: 10px;
    margin-top: 0px;
}

.msg-avatar {
    width:48px;
    height: 48px;
    float: left;
    border: 1px solid #cdcdcd;
    margin-right: 16px;
}

.msg-timestamp-icon {
    vertical-align: middle;
    color: #FF9100;
}

.msg-timestamp-view {
    display: block;
    float: right;
}

.msg-timestamp-text {
    vertical-align: middle;
    display: inline-block;
}

#input-container {
    margin-top: 10px;
    display: block;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #efefef;
    padding-left: 2px;
}

#input-container__msg-input {
    width: 100%;
}

#input-container__msg-container {
    overflow: hidden;
    margin-left: 16px;
    padding-right: .5em;
}

#input-container__send {
    float: right;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 12px;
    margin-right: 12px;
    background-color: transparent;
    color: teal;
}

/* ---------------------- Scrollbar customisation ------------------------ */
/*http://support.google.com/chrome/?hl=en*/
::-webkit-scrollbar {
    height: 16px !important;
    overflow: visible !important;
    width: 8px !important;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(left, rgba(198,198,198,1) 0%,rgba(220,220,220,1) 100%) !important;
    background-clip: padding-box !important;
    border: 2px solid transparent !important;
    border-image: initial !important;
    min-height: 28px !important;
    padding: 100px 0px 0px !important;
    /*box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 0px inset, rgba(0, 0, 0, 0.0666667) 0px -1px 0px inset !important;*/
}

/* :window-inactive inspired by cssTricks */
::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(left, rgba(158,158,158,1) 0%,rgba(180,180,180,1) 100%) !important;
    background-clip: padding-box !important;
}

/* :window-inactive inspired by cssTricks */
::-webkit-scrollbar-thumb:window-inactive {
    background: -webkit-linear-gradient(left, rgba(58,58,58,1) 0%,rgba(80,80,80,1) 100%) !important;
    background-clip: padding-box !important;
}

::-webkit-scrollbar-button {
    height: 0px !important;
    width: 0px !important;
}

::-webkit-scrollbar-track {
    background: -webkit-linear-gradient(left, rgba(234,234,234,1) 0%,rgba(250,250,250,1) 100%) !important;
    box-shadow: inset 1px 0px 5px -2px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-corner {
    background: transparent !important;
}