body {
    background: #ededed;
}
#login-card {
    padding: 8px 16px 20px 16px;
    margin-top: -160px;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #FF9100;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #FF9100;
    box-shadow: 0 1px 0 0 #FF9100;
}

#file-upload__input {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

#file-upload__container {
    width:40px;
    height:40px;  
    border-radius: 50% !important;
    position: relative;
    margin-top: -10px;
    margin-right: -16px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

#img-container {
    width: 100%;
    margin: 0 auto;
}

#file-upload__submit {
    width:0.1;
    height:0.1;
    opacity:0;
}

#login-card__avatar {
    width: 102px;
    height: 102px;
    border: 1px solid #cecece;
    border-radius: 50%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#login-form__error {
    visibility: hidden;
    margin-top: 0px;
    color: #F44336;
}

#login-form__username {
    margin-bottom: 0px;
}

#file-upload__input + label {
    width: 40px;
    height: 40px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    background-color: transparent;
    display: inline-block;
    cursor: pointer !important;
}